@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    background-color: #0d1b2a;
    color: #e0e1dd;
    font-family: 'Rubik', Verdana, sans-serif;
}
.apexcharts-xaxistooltip {
    background: #0d1b2a;
    color: #e0e1dd;
  }
.chartbox {
    background-color: #1b263b;
}
.gauges {
    font-family: 'Rubik', Verdana, sans-serif;
    font-weight: 600;
    text-align: center;

}
.title {
    font-size: 2rem;

}
.info{
    margin-top: 1rem;
    font-size: 2.5rem;
}
.icon {
    font-size: 10px;
    color:#e0e1dd;

}
.gauges svg path {
    fill:#778DA9;
}
/*
2B2D42
8D99AE
EDF2F4
EF233C
D90429


https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd
*/